.book-page {
    padding: 30px 20px ;
}

.book-page .book-page-info {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}
.book-page .book-page-info .book-image {
    width: 450px;
    height: 350px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.book-page .book-page-info .book-image img {
    width: 50%;
}

.book-page .book-page-info .book-page-details{
    margin-top: 10px;
}

.book-page .book-page-info .book-page-details h1{
    font-size: 34px;
    margin-bottom: 15px;
}
.book-page .book-page-info .book-page-details .author {
    display: flex;
    align-items: center;
    color: gray;
    font-size: 18px;
    margin-bottom: 25px;
}
.book-page .book-page-info .book-page-details .author h2 {
    font-size: 20px;
    color: teal;
    margin-left: 5px;
    margin-right: 5px;
}
.rating {
    align-items: center;
    margin-bottom: 25px;
}
.rating i {
    font-size: 22px;
}
.book-page-details .add-to-cart-input {
    font-size: 25px;
    font-weight: 600;
    margin-right: 15px;
    padding: 5px 10px;
}

.book-page-details .add-to-cart-button {
    border: 1px solid green;
    border-radius: 7px;
    padding: 8px 10px;
    cursor: pointer;
    background-color: transparent;
    color: green;
    font-size: 21px;
    font-weight: 600;
    transition: all .3s ease-in-out;
}

.book-page-details .add-to-cart-button i {
    margin-right: 5px;
}

.book-page-details .add-to-cart-button:hover{
   background-color: rgb(224, 248, 224) ;
}

.book-page-description {
    font-size: 19px;
    line-height: 1.7;
    width: 80%;
    margin-bottom: 40px;
}
.book-page-extra {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}
.extra-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: teal ; 
}
.extra-item span {
    font-size: 20px;
    font-weight: 600;
}
.extra-item i {
    font-size: 45px;
}
.extra-item .info {
    font-weight: 700;
}




